body{
    background-color: aliceblue;
    height: auto;
}

.top {
    border: solid darkblue;
    margin-top: 20px; 
  }

.btn.btn-success{
    display: block; 
    margin:  auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.modal-body {
    display: inline-block;
    flex-direction: column;
    align-items: center;
  }
  


h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 30px;
}


h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.col1, .col2, .col3 {
    border: solid;
    margin-left: auto;
    margin-right: auto;
    height: 900px; 
    width: 350px; 
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
}

#draggable {
    width: 200px;
    height: 300px;
    border-radius: 20px;
   background-color:blue;
   color: rgba(255, 255, 255, 0.87);
}


.btn-btn-danger{
    align-items: center;
    display: contents inline;

}

.modaldialog{
    margin: auto;
    align-items: center;
    display: inline;
    content: 
}



